<div class="row">
   <div class="col-md-4">
     <p>Guidelines editing for wikis</p>
     <ul>
       <li>Make it fly.</li>
       <li>Don't be a "roody-poo."</li>
       <li>The incessant use of hashtags will get you banned.</li>
     </ul>
   </div>
      <div class="col-md-8">
         <%= render 'form' %>
         <%= link_to "Back", root_path %>
      </div>
</div>
